<style type="text/css">
table, th, td {
	border-collapse: collapse;
	border:1px solid #888;
	background: #333;
	color:white;
}
.cent {
	text-align: center;
}
table.padded-table {
	border: 1px solid #888;
}
table.padded-table td { padding:10px; }
th { background:#5F8CE0; color:white; }
td.tots { background:#AAA; color:white; }

.reportTable {
	width:400px;
}
.noncomp {
	background: #800;
	color:white;
}
.author a {
	color: green
}
</style>
